
* {
	margin: 0;
}
body {
    font-family: Roboto;
    text-align:center;
    color: #777777;
}

h1 {
	font-family: Major Mono Display;
    font-size: 3em;
    //color: #616DBB;
}

.caption {
}

.heading {
	display: inline-block;
	margin: 80px 0px;
}

